/* Google Fonts */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 2px 0px;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 10px 0px;
}

nav ul li {
    margin: 0 0px;
    color: #333;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: white;
    color: #4a90e2;
}

/* Main */
main {
    max-width: 1200px;
    margin: 10px auto;
    padding: 0px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Cards */
main .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}
/*Sections*/
main .section{
padding: 0px;
margin-bottom: 0px;
}
main .card img {
    width: 20%;
    height: auto;
    border-radius: 5px;
}

main .card h2 {
    font-family: 'Montserrat', sans-serif;
    color: #4a90e2;
}

/* Footer */
footer {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 0px 10px;
    font-size: 0.9em;
}

footer p {
    margin: 5px 0;
}
