
        /* Basic styling for layout */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            
        }
        
            header{
                background-color: blue;
                padding: 2px 0;
                text-align: center;
            }
        nav ul {
            background-color: grey;
            list-style: none;
            padding: 10px;
        }
        nav ul li {
            display: inline;
            margin: 0 10px;
        }
        nav ul li a {
            text-decoration: none;
            color: #007BFF;
        }
        main {
            max-width: 1000px;
            margin: 20px auto;
            padding: 10px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        /* Cards */
        main .card {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #fff;
        }
        
        main .card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
        
        main .card h2 {
            font-family: 'Montserrat', sans-serif;
            color: #4a90e2;
            float:center;
    
        }
    
        .card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            margin: 15px 0;
            background-color: #fff;
            
        }
        .card img {
            max-width: 30%;
            border-radius: 5px;
            float:right
        }

        footer {
            background-color: #4a90e2;
            color: white;
            text-align: center;
            padding: 15px 10px;
            font-size: 0.9em;
        }
        
        footer p {
            margin: 5px 0;
        }
