
/* Basic styling for layout */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: var(--background-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .navbar a:hover {
    background-color: var(--hover-color);
    border-radius: 5px;}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #007BFF;
}
main {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    background-color: #fff;
}
.card img {
    max-width: 100%;
    border-radius: 5px;
}
footer p {
    margin: 5px 0;
}

footer {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9em;
}



