
body {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    display: inline-block;
    color: white;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}


#navMenu {
    display: none;
    flex-direction: column;
    align-items: center;
}


.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: block;
    color: white;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}


nav ul li a:hover {
    color: #ffcc00; 
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}


figure {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

figure img {
    max-width: 100%;
    border-radius: 5px;
}

figure figcaption {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


@media (min-width: 32rem) {
    nav ul {
        justify-content: flex-start;
    }

    section {
        grid-template-columns: repeat(2, 1fr); 
    }
}


#navMenu {
    display: flex;
}


    .hamburger {
        display: none;
    }

@media (min-width: 64rem) {
    section {
        grid-template-columns: repeat(3, 1fr); 
    }
}


.temple-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
nav {
    margin-bottom: 20px;
}
nav button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
